
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 125px auto;
    height: 100vh;
}

header {
    background: linear-gradient(black , #111111);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}


h1 {
    color: #f3f4f7;
    font-family: 'Tangerine';
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.invisDiv {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* hyperlinks styling */
a {
    text-decoration: none;
    color: #f3f4f7;
    font-family: 'poppins';
    font-size: 1.5em;
    display: inline-block;
    position: relative;

}

a::after {

    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f3f4f7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

a:hover::after,
a:focus::after{

    transform: scaleX(1);
    transform-origin: bottom left;

}







.bodyrest {
    background: linear-gradient(#111111, lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

#carousel {
    position: relative;
    width: 150px;
    height: 225px;
    transform-style: preserve-3d;
    animation: animate 45s linear infinite;
}


#carousel span {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* var(--carousel-image-angle))) translateZ(500px);
    -webkit-box-reflect: below 15px linear-gradient(transparent, transparent, #0004);

}

#carousel span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#carousel span img:hover {

    transform: scale(135%);
    cursor: pointer;
    transition: transform 0.45s ease-out ;
    border: 1px black solid;
}


@keyframes animate {

    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(-360deg);
    }

}


@media screen and (max-width: 575px){
    header {
        font-size: 3em;
    }
    
    body {
        overflow: hidden;
    }

    #carousel {
        bottom: 20%;
    }

}
